@import url(root.css);
@import url("https://fonts.googleapis.com/css2?family=Plus Jakarta Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400&family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none !important;
  list-style: none !important;
}
.mr_3 {
  margin-right: 3px;
}
.gap-51 {
  gap: 51px;
}
.border_bottom {
  border-bottom: 1px solid #fbfdff33;
}
.ff-Plus-Jakarta-Sans {
  font-family: "Plus Jakarta Sans" sans-serif;
}
.pt-19 {
  padding-top: 19px;
}
.pt-24 {
  padding-top: 24px !important;
}
.rotate-90 {
  transform: rotate(90deg);
}
.pb-58 {
  padding-bottom: 58px;
}
.pt-58 {
  padding-top: 58px;
}
.pt-80 {
  padding-top: 80px;
}
.pb-80 {
  padding-bottom: 80px;
}
.pb-24 {
  padding-bottom: 24px;
}
.bg-image {
  background-image: url("../images/herosection-img.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--blue);
}
.button {
  padding: 13px 32px !important;
  background-color: #0066d1 !important;
  box-shadow: 0px 4px 32px 0px #2746ed80 !important;
  border: 2px solid #0066d1;
  border-radius: 40px;
}
.select-button {
  padding: 13px 32px !important;
  border: 1px solid #fbfdff;
  background: transparent;
  border-radius: 40px;
}
.select-button:hover {
  background-color: #0066d1 !important;
  box-shadow: 0px 4px 32px 0px #2746ed80 !important;
  border: 2px solid #0066d1;
}
/* .nav-link:hover {
  -webkit-text-stroke: 1px #9003e5;
} */
.nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  left: 0;
  height: 3px;
  background-color: #ffffff;
  bottom: 0;
}
.mw-985 {
  max-width: 985px !important;
}
.mw-274 {
  max-width: 274px !important;
}
.nav-link:hover::after {
  width: 100%;
  transition: all 300ms linear;
}
.min-vh-40 {
  min-height: 40vh;
}
.border-radius {
  border-radius: 14px;
}
.dashboard-box1 {
  display: inline-flex;
  padding: 16px 20px;
  align-items: center;
  gap: 20px;
  position: absolute;
  border-radius: 12px;
  background: rgba(3, 137, 255, 0.12);
  backdrop-filter: blur(12px);
  padding: 16px 20px 16px 20px;
  width: 220px;
  height: 96px;
  /* right: 19%; */
  z-index: 1;
}
.pb-100 {
  padding-bottom: 100px;
}
.mw-96 {
  max-width: 96px;
}
.glow-effect {
  position: absolute;
  bottom: 23%;
  left: 17%;
  width: 299.329px;
  height: 303.657px;
  flex-shrink: 0;
  border-radius: 303.657px;
  opacity: 0.4;
  background: #1673ff;
  filter: blur(100px);
}
.glow-effect2 {
  position: absolute;
  right: 20%;
  top: 37%;
  width: 381.479px;
  height: 395.788px;
  flex-shrink: 0;
  border-radius: 395.788px;
  opacity: 0.3;
  background: #06f;
  filter: blur(123.5px);
}
.work-sec-effect1 {
  position: absolute;
  bottom: 23%;
  left: 39%;
  width: 299.329px;
  height: 303.657px;
  flex-shrink: 0;
  border-radius: 303.657px;
  opacity: 0.4;
  background: #1673ff;
  filter: blur(100px);
}
.border-right {
  border-right: 2px solid #273a4f;
}
.border_top {
  border-top: 2px solid #273a4f;
}
.pl-12 {
  padding-left: 12px;
}
.circle-svg {
  display: flex;
  width: 20.63px;
  height: 20.63px;
  justify-content: center;
  align-items: center;
  border-radius: 53.121px;
  background: rgba(3, 137, 255, 0.1);
  backdrop-filter: blur(1.289352297782898px);
}
@media (min-width: 576px) {
  .min-vh-sm-50 {
    min-height: 50vh;
  }
  .accuracy-sm {
    right: 1%;
    bottom: 72%;
  }
  .time-saving-sm {
    left: 51%;
    top: 40%;
  }
  .cost-saving-sm {
    top: -20%;
    left: 1%;
  }
  .file-formate-sm {
    bottom: 54%;
    left: 1%;
  }
  .dashboard-box1-sm {
    display: inline-flex;
    padding: 16px 20px;
    align-items: center;
    gap: 20px;
    position: absolute;
    border-radius: 12px;
    background: rgba(3, 137, 255, 0.12);
    backdrop-filter: blur(12px);
    padding: 16px 20px 16px 20px;
    width: 186px;
    height: 80px;
    /* right: 19%; */
    z-index: 1;
  }
  .translate-translat50y-sm {
    transform: translateY(-50%) !important;
  }
}
@media (min-width: 768px) {
  .accuracy-md {
    right: 1%;
    top: 23%;
  }
  .time-saving-md {
    top: 67%;
    left: 55%;
  }
  .file-formate-md {
    top: 39%;
    left: 1%;
  }
  .cost-saving-md {
    top: 7%;
    left: 1%;
  }
  .dashboard-box1-md {
    display: inline-flex;
    padding: 16px 20px;
    align-items: center;
    gap: 20px;
    position: absolute;
    border-radius: 12px;
    background: rgba(3, 137, 255, 0.12);
    backdrop-filter: blur(12px);
    padding: 16px 20px 16px 20px;
    width: 220px;
    height: 96px;
    /* right: 19%; */
    z-index: 1;
  }
  .transform-translate-23 {
    transform: translateY(-23%) !important;
  }
}
@media (min-width: 992px) {
  .accuracy-lg-right0 {
    right: 1%;
    top: 7%;
  }
  .time-saving-lg {
    left: 63%;
    top: 40%;
  }
  .file-formate-lg {
    left: 7%;
    top: 20%;
  }
  .cost-saving-lg {
    top: -12%;
  }
  .dashboard-box1-lg {
    display: inline-flex;
    padding: 16px 20px;
    align-items: center;
    gap: 20px;
    position: absolute;
    border-radius: 12px;
    background: rgba(3, 137, 255, 0.12);
    backdrop-filter: blur(12px);
    padding: 16px 20px 16px 20px;
    width: 220px;
    height: 96px;
    /* right: 19%; */
    z-index: 1;
  }
  .mw-467-lg {
    max-width: 467px;
  }
  .mw-474-lg {
    max-width: 474px;
  }
  .mw-525 {
    max-width: 525px;
  }
  .translate-translat50y-lg {
    transform: translateY(-50%) !important;
  }
}
@media (min-width: 1200px) {
  .min-vh-xl-70 {
    min-height: 70vh;
  }
  .accuracy-xl-8 {
    right: 8%;
  }
  .time-saving-xl {
    left: 62%;
    bottom: 43%;
  }
  .cost-saving-xl {
    top: -16%;
    left: 7%;
  }
  .file-formate-xl {
    bottom: 63%;
    left: 5%;
  }
  .dashboard-box1-xl {
    display: inline-flex;
    padding: 16px 20px;
    align-items: center;
    gap: 20px;
    position: absolute;
    border-radius: 12px;
    background: rgba(3, 137, 255, 0.12);
    backdrop-filter: blur(12px);
    padding: 16px 20px 16px 20px;
    width: 220px;
    height: 96px;
    /* right: 19%; */
    z-index: 1;
  }
}
@media (min-width: 1440px) {
  .right-21-xxl {
    right: 21%;
  }
  .file-formate-xxl {
    left: 19%;
    bottom: 65%;
  }
  .cost-saving-xxl {
    left: 20%;
    top: -17%;
  }
  .time-savings-box-xxl {
    right: 30%;
    bottom: 43%;
  }
  .dashboard-box1-xxl {
    display: inline-flex;
    padding: 16px 20px;
    align-items: center;
    gap: 20px;
    position: absolute;
    border-radius: 12px;
    background: rgba(3, 137, 255, 0.12);
    backdrop-filter: blur(12px);
    padding: 16px 20px 16px 20px;
    width: 220px;
    height: 96px;
    /* right: 19%; */
    z-index: 1;
  }
}
@media (max-width: 576px) {
  .flex-column-sm {
    flex-direction: column;
  }
}
@media (max-width: 1200px) {
  .small_screen {
    position: fixed !important;
    display: flex !important;
    flex-direction: column;
    width: 100%;
    height: 100%;
    top: 0%;
    left: -100%;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    background-color: var(--blue);
    transition: all.3s linear;
  }
  label[for="menu_box"] > span {
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #ffffff;
  }
  input[type="checkbox"]:checked ~ ul.small_screen {
    opacity: 1;
    pointer-events: all;
    left: 0%;
    z-index: 1 !important;
  }
  label[for="menu_box"] > span {
    width: 5px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
  }
  .position-fixed-lg {
    position: fixed;
  }
  .z-index-2-lg {
    z-index: 2;
  }
  .right-0-lg {
    right: 0;
  }
  .w-100-lg {
    width: 100%;
  }
}
