@import url(../css/root.css);
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700&family=Poppins:wght@600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    list-style: none;
}
.background-img {
    background-image: url("../images/bg-img.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--blue);
}
.sign-up-button {
    border-radius: 40px;
    background: linear-gradient(175deg, rgba(0, 136, 255, 0.58) 0%, #0069E3 100%);
    box-shadow: 0px 4px 32px 0px rgba(39, 70, 237, 0.50);
    border: 1px solid rgba(0, 136, 255, 0.58) !important;
    padding:8px;
}
.max-width_627{
    max-width: 627px;
}
.email-box {
    border-radius: 29px;
    background: rgba(251, 253, 255, 0.07);
    /* padding: 0px 63px; */
    border: 2px solid transparent;
    max-width: 520px;
}

.email {
    background: transparent;
    padding: 6px 8px;
    border: 2px solid transparent;
}
.bg-light-black {
    background-color: #020d15;
}

.mix_blend_mode_color {
    mix-blend-mode: screen;
}
.img {
    filter: grayscale(100%);
}
.img:hover {
    filter: grayscale(0%);
}
.pb_160 {
    padding-bottom: 160px;
}
.pt_110{
    padding-top: 110px;
}
.max-width_615 {
    max-width: 615px;
}
.accordion-item {
    background-color: rgba(3, 137, 255, 0.12) !important;
    backdrop-filter: blur(12.5px);
}
.accordion-item {
    /* color: var(--bs-accordion-color); */
    background-color: rgba(3, 137, 255, 0.12) !important;
    /* backdrop-filter: blur(12.5px); */
    border: var(--bs-accordion-border-width) solid var(--bs-accordion-border-color);
}
.accordion-button {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    color: #ffffff !important;
    background: transparent !important;
    /* padding: 22px var(--bs-accordion-btn-padding-x); */
    padding-bottom: 8px !important;
    font-size: 1rem;
    text-align: left;
    background: rgba(3, 137, 255, 0.12) !important;
    /* backdrop-filter: blur(12.5px) !important; */
    overflow-anchor: none;
    transition: var(--bs-accordion-transition);
    border-radius: 10px !important;
}
.accordion-button {
    background: transparent !important;
    /* backdrop-filter: blur(12.5px) !important; */
    display: unset !important;
}
.accordion-button::after {
    background-image: url(../images/png/arrow-icon.png) !important;
}
.accordion-button:not(.collapsed) {
    background: transparent !important;
    border-bottom: none !important;
    margin-bottom: 0 !important;
    box-shadow: none !important;
}
.accordion-button:focus {
    box-shadow: none !important;
}
.accordion-item {
    border: none !important;
    margin-bottom: 10px;
}
.accordion {
    --bs-accordion-border-color: transparent !important;
}
.accordion-body {
    /* padding: var(--bs-accordion-body-padding-y) var(--bs-accordion-body-padding-x); */
    padding-top: unset !important;
}
.accordion-item>img {
    display: none;
}
.accordion-button div img {
    transform: translateY(35%);
    display: none;
}
.accordion-button:not(.collapsed)>div img {
    display: block !important;
}
.accordion-button:not(.collapsed)>.paragraph_accordion {
    display: block !important;
    margin-left: 80px;
    margin-top: -15px;
}
.accordion-button.collapsed {
    padding: 26px !important;
    padding: 26px !important;
}
.accordion-button:not(.collapsed) {
    color: var(--bs-accordion-active-color) !important;
}
.ff_jakarta {
    font-family: plus jakarta sans, sans-serif;
}
.demo-button {
    border-radius: 40px;
    background: #0066d1;
    box-shadow: 0px 4px 32px 0px rgba(39, 70, 237, 0.50);
    border: 2px solid #0066d1;
    padding: 13px 32px;
}
.demo-button:hover {
    border-radius: 40px;
    background:white;
    box-shadow: 0px 4px 32px 0px rgba(39, 70, 237, 0.50);
    border: 2px solid #0066d1;
    padding: 13px 32px;
}

.slider-box {
    width: Fixed (400px);
    height: Fixed (80px);
    padding: 28px;
    border-radius: 10px;
    gap: 14px;
    border-radius: 10px;
    background: rgba(3, 137, 255, 0.12);
    backdrop-filter: blur(12.5px);
}
.max-width_400 {
    max-width: 400px;
}
.max_width-177 {
    max-width: 177px;
}
.max_width-201 {
    max-width: 201px;
}
.max_width-181 {
    max-width: 181px;
}
.max-width_219 {
    max-width: 219px;
}
.max-width_210 {
    max-width: 210px;
}
.max-width_120{
    max-width: 120px;
}
.max-width_67 {
    max-width:67px;
}
.max-width_205 {
    max-width: 205px;
}
.pr_16 {
    padding-right: 16px;
}
.pb_102 {
    padding-bottom: 102px;
}
.pb_112 {
    padding-bottom: 112px;
}
.pt_131 {
    padding-top: 131px;
}
.pb_131{
    padding-bottom: 131px;
}
.max-width_85{
    max-width: 85px;
}
.max-width_834{
    max-width: 834px;
}
.border_right {
    border-right: 2px solid #273138 !important;
}
.border_top {
    border-top: 2px solid #273138 !important;
}
.test-box {
    height: 350px !important;
    /* width: 946px; */
    padding: 56px 56px 85px 108px;
    border-radius: 20px;
    background: rgba(3, 137, 255, 0.12);
}
.test-box {
    opacity: 0.6;
}
.test-box.slick-current {
    opacity: 1;
}
.slick-dots li button:before {
    opacity: 1 !important;
}

.slick-dots li.slick-active button:before {
    color: #0389ff !important;
    opacity: 1 !important;
    width: 10px !important;
}

.slick-dots li button:before {
    font-size: 15px !important;
    color: #ffffff !important;
}
@media (min-width:576px) {
    .border_top_sm {
        border-top: 2px solid #273138 !important;
    }
    .border-right-sm{
        border-right: none !important;
    }
        .sign-up-button-sm {
            border-radius: 40px;
            background: linear-gradient(175deg, rgba(0, 136, 255, 0.58) 0%, #0069E3 100%);
            box-shadow: 0px 4px 32px 0px rgba(39, 70, 237, 0.50);
            border: 1px solid rgba(0, 136, 255, 0.58) !important;
            padding: 13px 32px;
        }
                .email-box-sm {
                    border-radius: 29px;
                    background: rgba(251, 253, 255, 0.07);
                    /* padding: 0px 63px; */
                    border: 2px solid transparent;
                    max-width: 520px;
                }
                                .email-sm {
                                    background: transparent;
                                    padding: 13px 80px;
                                    border: 2px solid transparent;
                                }
}
@media (min-width:992px) {
    .border_top_lg {
        border-top: 2px solid #273138 !important;
    }
    .border_right_lg {
        border-right: 2px solid #273138 !important;
    }
    .border-top-lg{
        border-top: none !important;
    }
        .max-width_467 {
            max-width: 467px;
        }
}